<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>


<div class="container">
    <h2 class="text-center text-white">Add a Clothing</h2>
    <form
            th:action="@{/clothes/add}"
            th:method="POST"
            th:object="${clothesDto}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="name">Name</label>
                <input th:field="*{name}"
                       th:errorclass="is-invalid"
                       name="name"
                       id="name" type="text" class="form-control"
                       placeholder="Add name">
                <p class="errors alert alert-danger invalid-feedback">
                    Clothing name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <input th:field="*{description}"
                       th:errorclass="is-invalid"
                       name="description"
                       id="description" type="text" class="form-control"
                       placeholder="Add description">
                <p class="errors alert alert-danger invalid-feedback">
                    Clothing description is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
                <input th:field="*{imageUrl}"
                       th:erroclass="is-invalid"
                       name="imageUrl"
                       id="imageUrl" type="url" class="form-control"
                       placeholder="Add image URL">
                <p class="errors alert alert-danger invalid-feedback">
                    Clothing image URL is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold">Brand</label>
                <select th:erroclass="is-invalid"
                        id="brandId"
                        name="brandId"
                        class="form-control">
                    <option value="">Select brand</option>
                    <option th:each="brand : ${allBrands}"
                            th:text="${brand.name}"
                            th:value="${brand.id}"
                            th:selected="${brand.id}==*{brandId}">
                        Brand
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Clothing brand is required.
                </p>
            </div>
        </div>

        <div style="text-align: center">
            <input type="submit" class="btn btn-info btn-lg" value="Submit Shoe"/>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>
