<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>

<body>
<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5"><span class="span4e">Welcome to Casualty,</span>
        <span class="span4e"
            sec:authorize="isAuthenticated()"
            sec:authentication="name">
            Name of the logged in user
            </span>
        <span class="span4e" sec:authorize="!isAuthenticated()">Anonymous</span>
    </h5>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
